<table border="0">
    <tr>
    <th>THANK YOU!!!</th>
    </tr>
    <tr>
    <th>You have cleared the level 1</th>
    </tr>
    <tr>
        <th>You can proceed to level 2</th>
    </tr>
    </table>
    <br><button name="Level 2" class="action_btn level2" type="submit" value="Level 2" onclick="myFunction()">Level 2</button>

<table border="1" cellspacing="0" width ="550px">
    <tr>
    <th bgcolor="grey"  >  Report Card</th>
    </tr>
    
    
    <tr>
    <th> Name:</th> 
    </tr>
    <tr>
    <th> Score:</th>
    </tr>
    <tr>
    <th>Level:</th>
    </tr>
    <tr>
    <th>Test:</th>
    </tr>
    <tr></tr> 

    </table>
    <button name="Exit" class="action_btn Exit" type="submit" value="Exit" onclick="myFunction()">Exit</button>

