<html>
<head>
	<title>Admin login page</title>
</head>
<body background="Black"  text=magenta topmargin=0>
<img src="" alt="">
<form id="register">
	
    <h2>Admin login</h2>
<table>
	<tr>
		<td>email:<br><br></td>
		<td><input type="email" name=t1 size=30><br><br></td>
	</tr>
	<tr>
		<td>Password:<br><br></td>
		<td><input type="password" name=t1 size=30><br><br></td>
	</tr>
	<tr>
		<td><a routerLink="">forgot password</a></td>
    </tr>
    <tr>
        <td><button>Login</button></td>
	</tr>
    
</table>
</form>

</body>
</html>
