<html>
    
    <body>
        
            <div id="maindiv">
                <div class="a-box-inner">
                    <div id="sub-div">
                        <label for="New Password" class="label-input">New Password</label>
                        <input type="text" class="a-input-text"/>
                    </div>
                    <div id="sub-div">
                        <label for="conform pass_wrd" class="label-input">Conform Password</label>
                        <input type="password" class="a-input-text" >
                     </div>
                     <button>Reset</button>

                </div>
           
        </div>
    </body>
</html>
<router-outlet></router-outlet>
