<!DOCTYPE html>
<html>
    <head>
        <title></title>
       
       </head>
    <body>
        <header>
            <nav>
                <div class="menu">
                    <a href="#">Home</a><br><br>
                    <a href="#">About Us</a>
                </div>
                <div class="buttons">
                    <div class="action_btn">
                    <!-- <button name="submit" class="action_btn Logout" type="submit" value="Logout" onclick="myFunction()">Logout</button> -->
                    <a href="#" class="btnone">Logout</a><br><br><br>
                    <!-- <p id="saved"></p> -->
                    </div>
                </div>
            </nav>
           
            <main>
                <section>
                   
                    <a href="#" class="btnone">ADD Questions</a><br><br><br>
                    <a href="#" class="btntwo">Remove Question</a><br><br><br>
                    <a href="#" class="btntwo">View Reports</a>
                   
                </section>
            </main>
        </header>
    </body>
</html>