
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        
       </head>
    <body>
 
        <header>
 
            <nav>
                <div class="menu">
                    <a href="#">Home</a><br><br>
                    <a href="#">About Us</a>
                </div>
                <div class="buttons">
                    <div class="action_btn">
                    <button name="submit" class="action_btn login" type="submit" value="Login" onclick="myFunction()">Login</button>
                    <button name="submit" class="action_btn register" type="submit" value="Register" onclick="myFunction2()">Register</button>
                    <p id="saved"></p>
                    </div>
                </div>
            </nav>
            
            <main>
                <section>
                   
                    <a href="#" class="btnone">Report</a><br><br><br>
                    <a href="#" class="btntwo">New Exam</a>
                    
                </section>
            </main>
        </header>
 
    </body>
</html>

